# PyCitySchools

In [1]:
# Importin pandas library
import pandas as pd

In [2]:
# Loading data and storing into pandas data frames
school_df = pd.read_csv("Resources/schools_complete.csv")
student_df = pd.read_csv("Resources/students_complete.csv")

# Printing first 5 rows of both dataframes
print("--------------- School Dataframe ---------------")
print(school_df.head())
print("--------------- Student Dataframe ---------------")
print(student_df.head())

--------------- School Dataframe ---------------
   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500
--------------- Student Dataframe ---------------
   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score
0             66          79
1             94          61
2             90          60
3             67          58
4             97          84

## District Summary

In [3]:
# Assembling the District Summary dataframe
district_summary = pd.DataFrame({
    "Total Schools": [school_df["school_name"].count()],
    "Total Students": [school_df["size"].sum()],
    "Total Budget": [school_df['budget'].sum()],
    "Average Math Score": [student_df['math_score'].mean()],
    "Average Reading Score": [student_df['reading_score'].mean()],
    "% Passing Math": [student_df["Student ID"][student_df["math_score"] >= 70].count()/student_df["Student ID"].count()*100],
    "% Passing Reading": [student_df["Student ID"][student_df["reading_score"] >= 70].count()/student_df["Student ID"].count()*100],
    "% Overall Passing": [student_df["Student ID"][(student_df["reading_score"] >= 70) & (student_df["math_score"] >= 70)].count()/student_df["Student ID"].count()*100]
})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [4]:
# Putting together the School Summary

# Calculating the average Reading and Math score per school
student_school_df = student_df.groupby("school_name").mean()
student_school_df = student_school_df.rename(columns = {
    "reading_score": "Average Reading Score",
    "math_score": "Average Math Score"
})

# Calculating % of passing math, reading and overall passing by counting the number of students that passed on each school
student_school_df["% Passing Math"] = student_df["school_name"][student_df["math_score"] >= 70].value_counts()/student_df["school_name"].value_counts()*100
student_school_df["% Passing Reading"] = student_df["school_name"][student_df["reading_score"] >= 70].value_counts()/student_df["school_name"].value_counts()*100
student_school_df["% Overall Passing"] = student_df["school_name"][(student_df["math_score"] >= 70) & (student_df["reading_score"] >= 70)].value_counts()/student_df["school_name"].value_counts()*100

# Assembling School Summary with information from the school dataframe
school_summary = pd.DataFrame({
    "School Name": school_df["school_name"],
    "School Type": school_df["type"],
    "Total Students": school_df["size"],
    "Total School Budget": school_df["budget"],
    "Per Student Budget": school_df["budget"]/school_df["size"]
})

# Merging % and average of passing students per school with the School Summary dataframe
school_summary = school_summary.merge(student_school_df, left_on='School Name', right_on='school_name', how="outer")

# Setting index to School Name and rearranging/dropping columns
school_summary = school_summary.set_index('School Name').sort_values(by=["School Name"])
school_summary = school_summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score",
                                 "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [5]:
# Top and Bottom Performing Schools (By % Overall Passing)
school_summary = school_summary.sort_values(by=["% Overall Passing"], ascending = False)

## Top Performing Schools

In [6]:
# Top 5 schools
school_summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools

In [7]:
# Bottom 5 schools
school_summary.tail(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247

In [8]:
# Math Scores by Grade

print(student_df["grade"].value_counts())
ninth_g = student_df[student_df["grade"] == "9th"]
tenth_g = student_df[student_df["grade"] == "10th"]
eleventh_g = student_df[student_df["grade"] == "11th"]
twelfth_g = student_df[student_df["grade"] == "12th"]

ninth_g = ninth_g.groupby("school_name").mean()
tenth_g = tenth_g.groupby("school_name").mean()
eleventh_g = eleventh_g.groupby("school_name").mean()
twelfth_g = twelfth_g.groupby("school_name").mean()

ninth_reading = ninth_g["reading_score"].rename("9th")
tenth_reading = tenth_g["reading_score"].rename("10th")
eleventh_reading = eleventh_g["reading_score"].rename("11th")
twelfth_reading = twelfth_g["reading_score"].rename("12th")

reading_scores_grade = pd.concat([ninth_reading, tenth_reading, eleventh_reading, twelfth_reading], axis= 1)
reading_scores_grade

9th     11408
10th    10168
11th     9695
12th     7899
Name: grade, dtype: int64

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [9]:
ninth_math = ninth_g["math_score"].rename("9th")
tenth_math = tenth_g["math_score"].rename("10th")
eleventh_math = eleventh_g["math_score"].rename("11th")
twelfth_math = twelfth_g["math_score"].rename("12th")

math_scores_grade = pd.concat([ninth_math, tenth_math, eleventh_math, twelfth_math], axis= 1)
math_scores_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [10]:
# Creating bins based on Spending Ranges (Per Student)
bins_stu = [0, 584, 629, 644, 675]
# print(bins)

bins_labels_stu = ["<$584", "$585-629", "$630-644", "$645-675"]

scores_budget = school_summary.copy()
scores_budget["Spending Ranges (Per Student)"] = pd.cut(scores_budget["Per Student Budget"], bins_stu, labels = bins_labels_stu)
scores_budget_grouped = scores_budget.groupby("Spending Ranges (Per Student)").mean().drop(labels = ["Total Students", "Total School Budget", "Per Student Budget"], axis = 1)
scores_budget_grouped

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [11]:
# Creating bins based on School Size
bins_sch = [0, 1000, 2000, 5000]
bins_labels_sch = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

scores_size = school_summary.copy()
scores_size["School Size"] = pd.cut(scores_size["Total Students"], bins_sch, labels = bins_labels_sch)
scores_size_grouped = scores_size.groupby("School Size").mean().drop(labels=["Total Students", "Total School Budget", "Per Student Budget"], axis = 1)
scores_size_grouped

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [12]:
# School Type
scores_type = school_summary.copy()
scores_type = scores_type.set_index("School Type")
scores_type_grouped = scores_type.groupby("School Type").mean().drop(labels =["Total Students", "Total School Budget", "Per Student Budget"], axis = 1)
scores_type_grouped

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208